  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }

.jumbotron {
    padding: 12rem 2rem;
    background: url('/static/city-map.jpg');

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 2rem 0 0.5rem 0;
    color: grey;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 6rem;
    font-size: 7rem;
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .jumbotron .display-2 {
        font-size: 1.5em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .jumbotron .display-2 {
        font-size: 4em;
    }
}
