  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }

.jumbotron {
    padding: 12rem 2rem;
    background: url('/static/city-map.jpg');

}

