{% extends "layout.html" %}
{% block body %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron text-center back">
        <div class="container">
          <h1 class="display-1">Ultra simple location tracking and sharing</h1>
          <h1 class="my-5 text-info display-3">There is no simpler way, guaranteed!</h1>
          <p><a class="btn btn-primary btn-lg display-3" href="#" role="button">Download App Now 📲</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Anonymous 👻</h2>
            <p>This location tracker does not require a password or login, in fact, no personally identifable data is
              required at all. To view a device's tracks, all you need is a browser.</p>

          </div>
          <div class="col-md-4">
            <h2>Free 🤑</h2>
            <p>Using the app is completely free. There are no subscriptions, up-front costs, free-trials or any of that.
              Track as many devices as you like and it will still cost you nothing.</p>

          </div>
          <div class="col-md-4">
            <h2>Simple 👶</h2>
            <p>To track any device, install the app and share the link that is generated. Anyone with access to the
              link will be able to track the mobile device using a browser of their choice.</p>

          </div>
        </div>

        <hr>

      </div> <!-- /container -->

{% endblock %}

