{% extends "layout.html" %}
{% block title %}{{ date }} - Location tracker{% endblock %}
{% block body %}
<div class="container">

<h3 class="mt-2">Tracks for {{date}}</h3>
     <p>
        <a href="{{url_for('view_username', public_token=client.public_token, date_str=day_before)}}"
           class="btn btn-info active" role="button" aria-pressed="true">Show day before</a>
        <a href="{{url_for('view_username', public_token=client.public_token, date_str=day_after)}}"
           class="btn btn-info
           {% if day_after %}
           active
           {% else %}
           disabled
           {% endif %}
           " role="button" aria-pressed="true">Show day after</a> </p>
    <p><span class="text-muted">Name of device</span> {{client.client_name}},
    <span class="text-muted">First seen </span>{{client.date_first_seen | human_time}},
    <span class="text-muted">last seen </span>{{client.date_last_seen | human_time}}</p>
    </div>
    {% if coords|length == 0 %}
    <div id="map"><h3 class="text-center mt-5 text-muted">Sorry, there is no data for this day 👻</h3></div>
    {% else %}
    <div class="embed-responsive embed-responsive-1by1">
        <div id="map-container" class="embed-responsive-item">
            <div id="map"></div>
        </div>
    </div>
    <script>
        var coords = {{ coords|safe }}
            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 3
                });

                var bounds = new google.maps.LatLngBounds();
                    for (var i = 0; i < coords.length; i++) {
                    bounds.extend(coords[i]);
                }

                var tracks = new google.maps.Polyline({
                    path: coords,
                    geodesic: true,
                    strokeColor: '#E95420',
                    strokeOpacity: 0.8,
                    strokeWeight: 3
                });

                var image = {
                    url:  '{{url_for('static', filename='map_dot.svg')}}',

                    scaledSize: new google.maps.Size(16, 16),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(8, 8)
                };

                for (var i = 0; i < coords.length; i++) {
                    var marker = new google.maps.Marker({
                    position: coords[i],
                    map: map,
                    title: coords[i].title,
                    icon: image,
                    zIndex: -200

                    });
                }




                tracks.setMap(map);
                map.fitBounds(bounds);
            }
        </script>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% if coords|length != 0 %}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4p2Lv9o1Wgo-owLJ6xGLtVL9DEBzG2fU&callback=initMap">
    </script>
    {% endif %}

{% endblock %}
