<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Tracks</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
       var coords = {{ coords|safe }}
      // This example creates a 2-pixel-wide red polyline

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3
        });

        var bounds = new google.maps.LatLngBounds();
          for (var i = 0; i < coords.length; i++) {
          bounds.extend(coords[i]);
        }

        var tracks = new google.maps.Polyline({
          path: coords,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        tracks.setMap(map);
        map.fitBounds(bounds);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4p2Lv9o1Wgo-owLJ6xGLtVL9DEBzG2fU&callback=initMap">
    </script>
  </body>
</html>
