{% extends "layout.html" %}
{% block title %}{{client_name}} > Location tracker{% endblock %}
{% block body %}
<div class="container">

    <h3 class="mt-2">{{client_name}}</h3>

    <p>
    <span class="text-muted">First seen </span>{{first_update}},
    <span class="text-muted">last seen </span>{{last_update}}</p>

    {% if coords|length == 0 %}
    <div id="map"><h3 class="text-center mt-5 text-muted">Sorry, there is no data for this day 👻</h3></div>
    {% else %}
    <div class="embed-responsive embed-responsive-1by1">
        <div id="map-container" class="embed-responsive-item">
            <div id="map"></div>
        </div>
    </div>
</div>
    <script>
        var coords = {{ coords|safe }}
            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 3,
                    maxZoom: 15
                });

                var bounds = new google.maps.LatLngBounds();
                    for (var i = 0; i < coords.length; i++) {
                    bounds.extend(coords[i]);
                }

                var tracks = new google.maps.Polyline({
                    path: coords,
                    geodesic: true,
                    strokeColor: '#E95420',
                    strokeOpacity: 0.8,
                    strokeWeight: 3
                });

                var image = {
                    url:  '{{url_for('static', filename='map_dot.svg')}}',

                    scaledSize: new google.maps.Size(16, 16),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(8, 8)
                };

                // Add all locations as markers
                for (var i = 0; i < coords.length; i++) {
                    var marker = new google.maps.Marker({
                    position: coords[i],
                    map: map,
                    title: coords[i].title,
                    icon: image,
                    zIndex: -200

                    });
                }

                // Add last location as special marker
                var last_location = new google.maps.Marker({
                    position: coords[coords.length-1],
                     map: map,
                    title: 'Current location'
                });

                tracks.setMap(map);
                map.fitBounds(bounds);
            }
        </script>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% if coords|length != 0 %}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSHy6pZaIBm-7nCek3zMXu9qiXc5Ej7nY&callback=initMap">
    </script>
    {% endif %}

{% endblock %}
